[submodule "huanm776_bootcamp_code"]
	path = huanm776_bootcamp_code
	url = https://github.com/mikeihuang/huanm776_bootcamp_code
[submodule "casta828_bootcamp_code"]
	path = casta828_bootcamp_code
	url = https://github.com/casta828/casta828_bootcamp_code
[submodule "tanq336_bootcamp_code"]
	path = tanq336_bootcamp_code
	url = https://github.com/nutosee/tanq336_bootcamp_code
[submodule "zhuy258_bootcamp_code"]
	path = zhuy258_bootcamp_code
	url = https://github.com/shiftkots/zhuy258_bootcamp_code
[submodule "ghasr266_bootcamp_code"]
	path = ghasr266_bootcamp_code
	url = https://github.com/rahamelody/ghasr266_bootcamp_code
